<div class="col-4 text-center mx-auto">
  <h1 class="mb-4">Login</h1>
  <form action="/login" method="post">
    <div>
      <label for="email" class="form-label"> Email </label>
      <input type="email" class="form-control" name="email" id="email" />
    </div>
    <div>
      <label for="password" class="form-label"> Password </label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>
    <div>
      <button type="submit" class="btn mt-4 btn-outline-primary">Submit</button>
    </div>
  </form>
</div>
